// FONTS
@font-face {
    font-family: 'liberation_sansbold';
    src: url('../fonts/liberationsans-bold-webfont.eot');
    src: url('../fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('../fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_sansitalic';
    src: url('../fonts/liberationsans-italic-webfont.eot');
    src: url('../fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-italic-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-italic-webfont.woff') format('woff'),
         url('../fonts/liberationsans-italic-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* MIXINS  */
@mixin outlinefont($color, $size){
    color: $color;
    font-weight: bold;
    font-size: $size;
    line-height: 1.3em;
    text-shadow: /* pseudo outline */
       -2px -2px 0 #000,
       2px -2px 0 #000,
       -2px 2px 0 #000,
       2px 2px 0 #000; 
}

/* General global styles */

html{
	background:white;
	body{
	background: #333;
	}
}
.container, .container-fluid{background: $pale;}

img {max-width: 100%; height: auto;}


/* BS Carousel  */

.carousel-inner img.attachment-slide{
    margin: 0 auto;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    }
