footer {
    background: none;
    border-top: none;
    color: black;
    font-size: 85%;
    text-shadow: none;
    
    .container, .container-fluid {
		background: #f7f7f7;
	
	}
	
	.nav > li > a:hover {background: silver;}
	.nav > li > a { display: inline-block;
    padding: 10px 0;
	}

	.footermenu > ul:first-child {
	padding: 3px;
	    margin-top: 3em;
		& > li {
			font-size: 18px;
			display: inline-block;
			font-weight: 300;
			&::before{
				height: 10px;
				width: 100%;
				position: absolute;
				content: "";
				margin-left: -10px;
			}

			&:nth-child(odd)::before {
				background: black;
			}
			&:nth-child(even)::before {
				background: white;
			}
			a{ 
				padding-left: 0;
			    border-bottom: medium none;
			    color: black;
			    text-decoration: none;
		    }
		    a:hover{
				background: silver;
				color: white;
			}
		}

		.sub-menu {
			padding-left: 0;
			& > li:first-child a{ padding-left: 0;}
			li:first-child a {
				padding-left: 0;
			}
			li:last-child a {
				border:  none;
			}
			li::before { 
				background-color: transparent;
			}

			li {
				font-size: 12px;
				float: left;
				display: inline-block;
			
				a {
					border-right: 1px solid;
					padding: 3px 5px;
				}

			}

		}

	}
	.strip{
		background: $dark;
		color: $pale;
		margin: 1em 0;
		padding: 1em 0;
		text-indent: 1em;
		section {
			display: inline-block;
			ul {
				display: inline-block;
			
				li{
					display: inline-block;
				}
						
			}
			h3{display: none;}


		}
		
	}

}




