.brand {
  max-width: 50%;
    margin: 15px 0 10px;
 
 }
 
.navbar-default .navbar-brand{
	font-size: 48px;
	font-weight: 600;
	width: 200px;
	line-height: 1em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}



.menu {list-style: none;}

.navbar-default {// reset bootstrap ones using same class
    background-color: transparent;
    border-color: white;
    

    .navbar-brand{
    	color: $dark;
    	&:focus, &:hover {

    	}
    }
	.navbar-nav{
	
		@include font-helv();
		li a {
			color: $dark;
		}

		li a[href*="urban-art-practice"]  {
	background: $art;
	}
	li a[href*="consultation"]  {
	background: $consult;
	}
	li a[href*="academic"]  {
	background: $academic;
	}
	li a[href*="other"]  {
	background: $other;
	}

		li a:hover {
		background: silver;		
		border-color: white;
		}
		// override bootstrap nav-default colours.
		 > .active > a, 
		 > .active > a:focus, 
		 > .active > a:hover {
		background: silver;
		color: black;
		border-color: white;
		}

	}
}


// Map style black numbers under nav
#menu-main-nav li{
/*    counter-increment: menu-counter;*/
    list-style-type: none;

	&::after {
		display: block;
		margin-top: 0.8em;

 		content: "";
 	    height: 8px;
 	    left: 0;
 	    // position: absolute;
 	    // top: 37px;
 	    width: 100%;
 	    border-top: 3px solid black;
 	    border-left:1px solid black;
 	    font-size: 9px;
 	    padding-left: 3px;

 	    //counter
 	    content: counter(menu-counter, decimal) ".";
		counter-increment: menu-counter; 


 	}

	&:first-child::after {
	 	border-left: 2px solid black;
	 }

	&:last-child::after {
  	border-right: 2px solid black;
  	}

 }


/* Counters */

body {
  counter-reset: menu-counter;
}



/* HOME PAGE ICON MENU */

#menu-home-page-menu li {
	height: 160px;
}

#menu-home-page-menu li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	display:block;
	font-size: 1.8em;
	//border:  5px solid #f7f7f7;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height:100%;
	width:  100%;
	text-align: center; /* needed for auto wrapped text */

}
// From Nathan 
// #menu-home-page-menu li [href*="consultation"],
// /*#menu-main-nav li [href*="consultation"],*/
// #menu-item-31,
// .offcanvas #site-navigation li a[href*="consultation"]  {
// 	background: $consult;
// }

//  #menu-home-page-menu li [href*="academic"],
//  #menu-main-nav li [href*="academic"]
//  #menu-item-7,
//  #menu-item-33,
//  .offcanvas #site-navigation li a[href*="academic"]  {
// 	background: #669933;
// }

// #menu-home-page-menu li [href*="other"],
// #menu-main-nav li [href*="other"]
// #menu-item-8,
// #menu-item-34,
// .offcanvas #site-navigation li a[href*="other"]  {
// 	background: #cc9933;
// }


