.main {
	padding: 0 $grid-gutter-width;
	.row.homemain {display: flex;}
}

.page-header {
    border-bottom: none; // get rid of bootstrap default
 }

 // Homepage Layout and category menu thing
 .home .page-header {
 	margin: 0;
 	h1{margin-bottom: 0;}
 }
 
.intro {    padding: 0 $half-gutter;
}
.home-image,
.intro {
//	height:200px;
//	border: 5px solid $pale;
//	background: #cccc99;
display: flex;
	img {
		max-width: 100%
	}
	h1 { 
		width: 90%;	
		@include outlinefont(#fff, 1.5em);
		
		left: $grid-gutter-width;
	 }
	 #new-royalslider-1{height: auto !important ;}
	 .rsSBlock{
		position: absolute;
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 5% !important;
	 }
    aside {
	    font-size: 12px;
		background: $brand-primary;
		height: 100%;
	    &::before {
			content:  url('dist/images/info-icon.png');
			display: block;
		}
		p{
			padding: 0 $half-gutter;
		}
    }   
}


/* HOME PAGE ICON MENU */

.home-menu {
	margin-top:$grid-gutter-width;
	margin-bottom: $grid-gutter-width;
	ul {
		padding-left: 0;
		li { 
			
			//border: 5px solid $pale;
			height: 160px;
			a {
				background-color: $consult; 
				color: white;
				text-decoration: none;
				font-weight: bold;
				display:block;
				font-size: 1.8em;
				//border:  5px solid #f7f7f7;
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				justify-content: center;
				height:100%;
				width:  100%;
				text-align: center; /* needed for auto wrapped text */

			}
		}
		li:nth-child(2) a { background-color: $academic;}
		li:nth-child(3) a { background-color: $art;}
		li:nth-child(4) a{ background-color: $maps;}
	}
	&::after {margin-bottom: 3em;}
	
}