.page-header {
    border-bottom: none; // get rid of bootstrap default
 }

 // Homepage Layout and category menu thing

.home-image,
.intro {
	height:400px;
	border: 5px solid $pale;
	background: #cccc99;

	img {
	border:  3px solid black;
	}
	h1 { 
	width: 60%;	
	@include outlinefont(#fff, 30px)
 
       }
    aside {
    font-size: 12px;
	    &::before {
		content:  url('dist/images/info-icon.png');
		display: block;
		margin: 12px 0 0;
		}
    }   
}


/* HOME PAGE ICON MENU */

.home-menu ul {
	padding-left: 0;
	li { 
		background-color: $art; border: 5px solid $pale;
		height: 160px;
		a {
			color: white;
			text-decoration: none;
			font-weight: bold;
			display:block;
			font-size: 1.8em;
			//border:  5px solid #f7f7f7;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			height:100%;
			width:  100%;
			text-align: center; /* needed for auto wrapped text */

		}
	}
	li:nth-child(2) { background-color: $consult;}
	li:nth-child(3) { background-color: $academic;}
	li:nth-child(4) { background-color: $other;}
	
}