// Post Archive
/* ARCHIVE */


.archive .page-header {
    border-bottom: none;
    border-top: none;
    margin-top: 0;

	h1{
	//@extend .col-sm-3;  /* makes it a block with col-sm-3 class */
	height: 160px;
    background: #cccc33;
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; /* needed for auto wrapped text */
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
	}
	h2 {
     padding: $half-gutter;
	}
	.entry-title a {
   		
		
	
		left: 30px;
		@include outlinefont(#fff, 18px);
		max-width: 80%;
		position: absolute;
		//text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
		top: $grid-gutter-width;
	}
}
.archive-meta {
	height: 160px;
    background: #f7f7f7;
    color: #666;
    font-size: 13px;
    }
    

 
.archive article{
    .entry-title {
        margin-top: 0;
        line-height: 0.9;
background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    }
    &:first-of-type {clear: left;}
    header{ 
        position: absolute;
        left: $grid-gutter-width ;
        max-width: 75%;
        .entry-title a{
            @include outlinefont(#fff, 18px)
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .entry-summary{
       // padding-left: $half-gutter * 2;
       //  padding-right: $half-gutter; 

    }
}



// Single Post



//.entry-thumb 